.flex-container{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

.flex-item{
    background: blueviolet;
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 20px;
    color: burlywood;
    text-align: center;
    margin: 5px;
}

.row{
    flex-direction: row;
    
}

.row-reverse{
    flex-direction: row-reverse;
   
}
.row-reverse li{
    background-color: chartreuse;
}

.column{
    flex-direction: column;
    
}

.column li{
    background-color: darkcyan;
}

.column-reverse{
    flex-direction: column-reverse;
   float: right;
}

.column-reverse li {
    background-color: darkred;
}